<%= stylesheet_link_tag 'application.css' %>

<div class="index_content">
  <h1 class="banner">Articles</h1>

  <p>Our blog has <%= Article.public_count %> articles and counting!</p>

  <ul class="article_cards">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
          <li class="article_card">
            <%= link_to article.title, article %>
          </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "New Article", new_article_path %>
</div>